<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html lang="zh-hant">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Pick Background</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slider.css' %}">
</head>

<body>
<section class="section why-us" data-section="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>選擇背景</h2>
        </div>
      </div>
      <div class="col-md-12">
        <form id="why-us" action="" method="post">
        <table id="table" style="width:100%;height:140%">
            <tr >
                <td style="text-align:center;"><img src= "{% static 'assets/images/4A.png' %}" style="width: 300px; height:200px;" value="4A"></td>
                <td style="text-align:center;"><img src= "{% static 'assets/images/4B.png' %}" style="width: 300px; height:200px;" value="4B"></td>
            </tr>
            <tr >
                <td style="text-align:center;"><img src= "{% static 'assets/images/4C.png' %}" style="width: 200px; height:300px;" value="4C"></td>
                <td style="text-align:center;"><img src= "{% static 'assets/images/4D.png' %}" style="width: 200px; height:300px;" value="4D"></td>
            </tr>
            <tr>
                <td style="text-align:center;"><img src= "{% static 'assets/images/4E.png' %}" style="width: 200px; height:300px;" value="4E"></td>
                <td style="text-align:center;"><img src= "{% static 'assets/images/2A.png' %}" style="width: 100px; height:300px;" value="2A"></td>
            </tr>
        </table>
        <button onclick="playAudio();"type="submit" name="selected" id="form-submit" class="button">選擇好了</button>
      </div>
    </div>
  </div>
</section>
    <script>
        var time = 3;
        var interval = setInterval(function() {
            time--;
            if (time <= 0) {
                clearInterval(interval);
                document.querySelectorAll('button[name="selected"]')[0].click();
                playAudio()
            }
        }, 1000);
    var slider = document.getElementById('slider');
    $(slider).click(function() {
        playAudio_slider();
    });
    function playAudio() {
    const audio = document.createElement("audio");
    audio.src = "{% static 'assets/images/click.mp3' %}";
    audio.play();
    }
    function playAudio_slider() {
    const audio = document.createElement("audio");
    audio.src = "{% static 'assets/images/di.wav' %}";
    audio.play();
    }
    console.log(123)
    </script>

</body>
</html>

