<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html lang="zh-hant">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Pick Background</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slider.css' %}">
</head>

<body>
<section class="section why-us" data-section="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>選擇背景</h2>
        </div>
      </div>
      <div class="background-container">
        <div class="rows">
          <div class="background-wrapper" onclick="handleClickItem(this)" value="4A">
            <img class="background-item" src= "{% static 'assets/images/4A.png' %}" >
          </div>
          <div class="background-wrapper" onclick="handleClickItem(this)" value="4B">
            <img class="background-item" src= "{% static 'assets/images/4B.png' %}">
          </div>
        </div>
        <div class="rows">
          <div class="background-wrapper" onclick="handleClickItem(this)" value="4C">
            <img class="background-item" src= "{% static 'assets/images/4C.png' %}">
          </div>
          <div class="background-wrapper" onclick="handleClickItem(this)" value="4D">
            <img class="background-item" src= "{% static 'assets/images/4D.png' %}">
          </div>
        </div>
        <div class="rows">
          <div class="background-wrapper" onclick="handleClickItem(this)" value="4E">
            <img class="background-item" src= "{% static 'assets/images/4E.png' %}">
          </div>
          <div class="background-wrapper" onclick="handleClickItem(this)" value="2A">
            <img class="background-item" src= "{% static 'assets/images/2A.png' %}">
          </div>
        </div>
        <button onclick="playAudio();"type="submit"  class="button">選擇好了</button>
      </div>
    </div>
  </div>
</section>
<script>
    var time = 3000000;
    let selectItem = 0;
    var interval = setInterval(function() {
        time--;
        if (time <= 0) {
            clearInterval(interval);
            document.querySelectorAll('button[name="selected"]')[0].click();
            playAudio()
        }
    }, 1000);
  function playAudio() {
    const audio = document.createElement("audio");
    audio.src = "{% static 'assets/images/click.mp3' %}";
    audio.play();
  } 
  function handleClickItem(target) {
    selectItem = target.getAttribute('value');
    document.querySelectorAll('.background-wrapper').forEach(e=> { e.style.border = "0px solid transparent" });
    document.querySelector(`div[value="${selectItem}"]`).style.border = "2px solid red"
  }
</script>
<style>
.background-container {
  margin: auto;
}

.background-container .rows{
display: flex;
margin-top: 20px;
}

.background-item {
  width: 300px; 
  height:200px;
}

.background-wrapper:not(:first-child) {
margin-left: 20px;
}

</style>
</body>
</html>

